descriptive.csv
data/global-data-on-sustainable-energy (1).csv
data/global-data-on-sustainable-energy.zip
.ipynb_checkpoints/
WEEK8HW3.html
WEEK8HW4.html
Week10HW5.html
Week10HW6.html
Week12HW7.html
Week6HW1.html
Week6HW2.html