#sidebar {
    min-height: 100vh;
    transition: transform 0.3s ease-in-out;
}

#main-content {
    padding-top: 4rem; 
}
@media (min-width: 768px) {
    #main-content {
        padding-top: 0;
    }
}